
day1/day1.vcxproj.user
day1/day1.vcxproj.filters
day1/day1.vcxproj
day1/day1.sln
day1/.vs/day1/v16/Browse.VC.db
day1/.vs/day1/v16/Browse.VC.db-shm
day1/.vs/day1/v16/Browse.VC.db-wal
day1/.vs/day1/v16/Browse.VC.opendb
day1/.vs/day1/v16/ipch/AutoPCH/683a7e2c03196f88/DAY1.ipch
day1/Debug/vc142.pdb
day1/Debug/vc142.idb
day1/Debug/day1.vcxproj.FileListAbsolute.txt
day1/Debug/day1.tlog/link.write.1.tlog
day1/Debug/day1.tlog/link.read.1.tlog
day1/Debug/day1.tlog/link.command.1.tlog
day1/Debug/day1.tlog/day1.lastbuildstate
day1/Debug/day1.tlog/CL.write.1.tlog
day1/Debug/day1.tlog/CL.read.1.tlog
day1/Debug/day1.tlog/CL.command.1.tlog
day1/Debug/day1.pdb
day1/Debug/day1.obj
day1/Debug/day1.log
day1/Debug/day1.ilk
day1/Debug/day1.exe.recipe
day1/Debug/day1.exe
day1/Debug/day1(Part1).obj
day1/.vs/day1/v16/ipch/AutoPCH/b999e9402b1d81d5/DAY1(PART1).ipch
day1/.vs/day1/v16/.suo
